form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

form input {
  padding: 10px 20px 10px 25px;
  border-radius: 5px;
  border: 1px var(--grayish-blue-color) solid;
  margin-bottom: 20px;
}

form input:focus {
  outline: 1px black solid;
}


form input[type=submit] {
  background-color: var(--green-color);
  color: white;
  border: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 10px;
}

form input[type=submit]:hover {
  background-color: #77e2b4;
  cursor: pointer;
}

form input[type=submit]:focus {
  outline: none;
}

form span {
  font-size: 10px;
  color: var(--red-color);
  text-align: right;
  margin-top: -15px;
  margin-bottom: 10px;
  position: relative;
}

form span::before {
  content: "";
  position: absolute;
  background-image: url(../assets/icon-error.svg);
  background-size: cover;
  width: 20px;
  height: 20px;
  top: -36px;
  right: 14px;
}

form p:last-child {
  font-size: 9px;
  color: var(--grayish-blue-color);
  margin-right: auto;
  margin-left: auto;
}

form p a {
  text-decoration: none;
  color: var(--red-color);
}